* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wropper {
  width: 100%;
  height: 100vh;
}

.panel {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header {
  background-color: #ac4828;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}
section {
  width: 100%;
  height: 247px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.box {
  width: 607px;
  height: 247px;
  background-color: #28a4ac;
}
.box1 {
  width: 607px;
  height: 247px;
  background-color: #ac2868;
}
.boxs {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
footer {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 206px;
}
.footer_box_1 {
  width: 980px;
  height: 206px;
  background-color: #6e8f10;
}
.footer_box_2 {
  width: 607px;
  height: 206px;
  background-color: #6e8f10;
}

@media (max-width: 1150px) {
  .wropper {
    padding: 20px 20px 20px 20px;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
  }
  section:nth-last-child(2) {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    margin-top: 300px;
  }
  .boxs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .box {
    height: 247px;
    flex: 1 0 200px;
    background-color: #28a4ac;
  }
  .box1 {
    height: 247px;
    flex: 1 0 200px;
    background-color: #ac2868;
  }
  footer {
    flex-direction: column;
    top: 941px;
    left: 21px;
    margin-top: 40%;
  }

  .footer_box_2 {
    width: 980px;
  }
}
@media (max-width: 932px) {
  section {
    display: flex;
    flex-wrap: wrap;
  }
  .box:nth-last-child(2) {
    display: none;
  }
  .box {
    width: 100%;
    height: 100%;
  }
  .boxs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .box1 {
    height: 247px;
    flex: 1 0 200px;
    background-color: #ac2868;
  }
  footer {
    flex-direction: column;
    top: 941px;
    left: 21px;
    margin-top: 40%;
  }

  .footer_box_2 {
    width: 100%;
  }
  .footer_box_1 {
    width: 100%;
  }
}
@media (max-width: 552px) {
  section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .boxs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .box {
    width: 100%;
  }
  .wropper {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
