body {
  margin: 0;
  background: #f2f2f2;
  font-family: sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.box {
  flex: 1 1 calc(33.333% - 10px);
  padding: 80px;
  border-radius: 8px;
  box-sizing: border-box;
}

.header-box {
  background-color: #b4552c;
  flex: 1 1 100%;
  text-transform: uppercase;
}

.blue-box { background-color: #29aabb; }
.pink-box { background-color: #b5357c; }
.green-box { background-color: #739d1d; }

@media (max-width: 1100px) {
  .box {
    flex: 1 1 calc(50% - 10px);
  }
}

@media (max-width: 1000px) {
  .box {
    flex: 1 1 100%;
  }
  .pink-box:nth-child(1){
    flex: 1 1 calc(50% - 10px);

  }
  .pink-box:nth-child(2){
    flex: 1 1 calc(50% - 10px);

  }
}

@media (max-width: 600px) {
  .box {
    padding: 20px;
    font-size: 16px;
  }

  .header-box {
    font-size: 20px;
  }
  .pink-box:nth-child(1){
    flex: 1 1 100%;
  }
  .pink-box:nth-child(2){
    flex: 1 1 100%;
  }
}